{{#each items}}
  <div class="wrapper friend" friendId="{{ id }}" draggable="true">
    <div class="friendPhoto">
      <img src="{{ photo_50 }}" class="friendPhoto" alt="{{ first_name }} {{ last_name }}" draggable="false">      
    </div>  
    <div class="friendInfo">
      {{ first_name }} {{ last_name }} {{ selected }}
    </div>
    <div class="friendShuffle" shuffleId="{{ id }}">
    {{#if selected}}
      x
    {{else}} 
      +
    {{/if}}   
    </div>
  </div> 
{{/each}}

